<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Book and Review</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
            
    </head>
    <body>
        <div class="container-fluid pb-5" style="background-color: rgb(227, 242, 243);">
            <div class="row justify-content-end">
                <div class="col-2 mt-4">
                    <a class="" href="/books">Home</a>
                    </div>
                <div class="col-2 mt-4">
                <a class="" href="/">logout</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2 class="mt-5">{{book.title}}</h2>
                    <p>Author: {{book.author.name}}</p>
                    <h3>Reviews:</h3>
                    {% for review in book.reviews.all %}
                        <div>
                            <hr>
                            <p>Rating: {{review.rating}}</p>
                            <p><a href="/books/users/{{review.user.id}}">{{review.user.alias}}</a> says: {{review.review}}</p>
                            <p class="mr-5">Posted on {{review.created_at| date:"M d, Y"}}</p>
                            {% if user.id == review.user.id %}
                            <a href="/books/{{book.id}}/{{review.id}}/delete">Delete this Review</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="col mt-5">
                    <form action="/books/{{book.id}}/add_review" method="POST">
                        {% csrf_token %}
                        <label for="">Add a Review:</label><br>
                        <textarea name="review" id="" cols="30" rows="3"></textarea><br>
                        <label for="">Rating:</label>
                        <select name="rating" id="">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select><span> stars</span>
                        <br>
                        <input type="submit" value="Submit Review">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>